# IDE and editor directories
.vscode/

# Python specific
_pycache_/
.venv/
backend/__pycache__/*
*.db
backend/.langchain.db


# Environment variables
.env

# Log files
*.log
chrome.log

# Aider specific
.aider*

# Chroma specific
chroma_data/*
frontend/chroma_data/

# Project specific
chrome_data/
TODOLIST.md
changelog.md