# IDE and editor directories
.vscode/

# Python specific
__pycache__/
.venv/
backend/__pycache__/
*.db
backend/.langchain.db
*.pyc
.env
venv/
.pytest_cache/
.coverage
htmlcov/
backend/chroma_db/

# Frontend specific gitignore
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub/
.dart_tool/
*.iml
*.iws
.idea/


# Environment variables
.env

# Log files
*.log
chrome.log

# Aider specific
.aider*

# Chroma specific
chroma_data/*
frontend/chroma_data/

# Project specific
chrome_data/
TODOLIST.md
changelog.md

# Root level gitignore
.DS_Store
.env
*.log

# Temp
ScrollWise/
passwords
backend/encrypt_config.py
backend/config.key
backend/config.enc
frontend/build_frontend.bat
