aiosqlite
cachetools
cryptography
fastapi
httpx
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-qdrant
langgraph
pdfplumber
psutil
pydantic[email]
PyPDF2
python-docx
python-dotenv
python-multipart
langchain-classic
qdrant-client
SQLAlchemy
tenacity
uvicorn
beautifulsoup4
pypdf
langchain-openai
openai
langchain-anthropic
ebooklib
striprtf
networkx
fastembed
google-genai
pystray
Pillow
