python-dotenv
langchain-google-genai
langchain
langchain-core
cachetools
tenacity
langgraph
langchain-community
pydantic
pydantic[email]
fastapi
sqlalchemy
cryptography
supabase
aiosqlite
PyPDF2
pdfplumber
python-docx
uvicorn
langchain-qdrant
psutil
qdrant-client
python-multipart